body {
  font-family: sans-serif;
  background: gray;
  color: white;
  text-align: center;
  margin-top: 100px;
}

input {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  background: transparent;
  color: white;
  border: none;
}

#timer {
  font-size: 80px;
  margin: 20px;
  font-weight: bold;
  color: whitesmoke;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 9999px;
  border: none;
}

#popup {
  display: none;
  text-align: center;
}

button:hover {
  background: darkgray;
}

button:active {
  transform: translateY(2px);
}